.alert {
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.8rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background: #C84153;
}
