/* ==== Estilos Globales ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f0f0f;
  color: #e6e6e6;
  font-family: "Inter", sans-serif;
  min-height: 100vh;

  /* CENTRAR TODO */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.3rem;
  color: #74ff95;
}

/* ==== Contenedor principal ==== */
.container {
  width: 100%;
  max-width: 700px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* ==== Formulario ==== */
form {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0px 0px 20px rgba(0,255,100,0.15);
}

form input,
form textarea {
  background: #0d0d0d;
  border: 1px solid #2e2e2e;
  padding: 12px;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: #74ff95;
  box-shadow: 0px 0px 10px rgba(100,255,150,0.2);
}

form button {
  background: #74ff95;
  border: none;
  padding: 12px;
  color: #0f0f0f;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

form button:hover {
  background: #5adb79;
}

/* ==== Lista de tareas ==== */
.task-list {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.task-card {
  display: flex;
  flex-direction: column;


  background: #1a1a1a;
  padding: 20px;
  width: 100%;
  border-radius: 12px;
  border-left: 4px solid #74ff95;
  box-shadow: 0px 0px 10px rgba(0,255,100,0.1);
  transition: 0.25s ease;
}

.task-card:hover {
  transform: translateX(5px);
  box-shadow: 0 0 15px rgba(0,255,100,0.25);
}

.task-card h3 {
  margin-bottom: 8px;
  font-size: 1.3rem;
  color: #74ff95;
}

.task-card p {
  color: #c7c7c7;
  line-height: 1.5;
}

.task-card button {
  margin-top: 10px;
  align-self: flex-end;

  background: #ff4d4d;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  color: #0f0f0f;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.95rem;

  transition: 0.2s ease;
}

.task-card button:hover {
  background: #ff1f1f;
  box-shadow: 0 0 10px rgba(255, 50, 50, 0.4);
  transform: scale(1.03);
}

.task-card button:active {
  transform: scale(0.97);
}
