.container_favorites{
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px;
}
.titleFav{
    font-size: 2.75rem;
  line-height: 1;
  font-weight: 800;
  text-align: center;
  margin: 50px;
  color: #d4af37;
}


.no_recipes {
    text-align: center;
    margin-top: 10%;
    font-weight: 100;
}
